.logo_slide{
	img{
		max-height: 80px;
		width: auto;
	}
	
}
.carousel-control{
	background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,.0001) 100%)!important;
	/*opacity: .3!important;*/
}
/*home*/
.clientes{
	font-family: 'Open Sans', sans-serif;
	
	.card-header{
		padding: 1em 0;
		border-bottom: 1px solid #D1D1D1;
		cursor: pointer;
		button{
			white-space: normal;
			padding-right: 2em;
		}
		
	}
	h4{
		color: #4A4A4A;
		display: initial;
	}
	
	button{
		position: relative;
	    width: 100%;
	    text-align: left;
	    overflow: hidden;
			&:focus{
				outline:inherit;
			}
			&:active{
				outline:inherit;
			}
			&:link{
				outline:inherit;
			}
	    	&:after{
				content:'\00a0';
				width: 20px;
			    height: 20px;
			    background: url(../images/icons/arrow-down.svg)no-repeat 50% 50%;
			    position: absolute;
			    right: 0;
			    transform:rotate(180deg);
			}
	}
	.collapsed{
		&:after{
			
			    transform:rotate(0);
			    	
		}
	}
			&:focus{
				outline:inherit;
			}
			&:active{
				outline:inherit;
			}
			&:link{
				outline:inherit;
			}
@media screen and (max-width: 1023px){
	.card-body{
		padding: 2em 0;
	}
}
@media screen and (min-width: 1024px){
	.card-body{
		padding: 2em 6em;
	}
}
}
/*slide*/
.slide-common{
	.descripcion{
		margin: 0 auto;
		text-align: left;
		margin-top: 2em;
		float: left;
		padding-left: 11%;
		position: absolute;
		z-index: 99;
		h2{
			color: #fff;
			text-align: left;
			padding: 1em 0;
			position: relative;
			font-weight: 700;
			&:after{
				content:"";
				border:1px solid #4FB0E5;
				position: absolute;
				left: 0;
				top: 2.5em;
				width: 7%;
			}
		}
		p{    
			font-size: 1.3em;
			line-height: 1.6em;
			color: #fff;
			margin-bottom: 2em;
		}
		ul{
			
			li{
				list-style: circle;
				color: #ffffff;
				line-height: 25px;
				font-size: 16px;

			}
		}

	}

	@media screen and (max-width: 768px){
		.descripcion{
			ul{
			}
			
		}

	}
	@media screen and (max-width: 500px){
		.descripcion{
			width:100%;
			padding-left:0;
			padding:0 2em;
			margin-top: 2em;
			h2::after{
				top: 3.5em;
				width: 15%;
			}
			h2{
				padding: 0 0 1em 0;
				font-size: 22px;
				&:after{
					top:3em;
				}
			}
			p{
				margin-top: 2em;
			}
			ul{
				padding-left: 2em;
			}
		}

	}
	@media only screen and (min-width: 501px) and (max-width: 900px){
		.descripcion{
			margin-top: 2em;
			h2::after{
				top: 2.5em;
				width: 15%;
			}
		}

	}
	@media screen and (min-width: 901px){
		.descripcion{
			width: 60%;
			ul{
				padding: 1em 0 0 1em;
			}
		}
	}
}
.slide-carel, .slide-hecu{
	.descripcion{
		h2, ul, li, p{
			color: #000!important;
		}

	}
	
}
/*CARROUSEL*/
.carousel-inner{
	.item{
		height: 500px;
		@media screen and (min-width: 1024px){
			height: 600px;
			/*img{
				width: 100%;
			}*/
		}
	}
	.inner-slider{
		position: absolute;
		width: 40%;
		margin: 7em 0 0 13em;
		h2{
			color: #fff;
			font-weight: 700!important;
			background: rgba(0,0,0,.3);
			padding:.5em 20px;
		}
		p{
			font-size: 1.5em;
			color: #fff;
			padding: .5em 20px;
			background: rgba(0,0,0,.3);
		}
		@media screen and (min-width: 1300px){
			width: 30%;
			margin: 10em 0 0 20em;
		}

		.video {
			position: fixed;
			width: 100%;
			top: -9em;
			right: 0;
			left: 0;
			background:#000;
			text-align: right;
			opacity: 1;
			z-index: -1;
			.overlay{
				background:rgba(5, 8, 106, .7);
				width: 100%;
				height: 100%;
				bottom: 0;
				top: 0;
				position: absolute;
			}
			video{
				width: 100%;
			}
		}

	}
	.image{
		position: absolute;
		top: 0;
		right: 0;
		#machine{
			width: 700px;
			height: 700px;
			background:url('../images/microklima-h.png')no-repeat;
			background-size: 100%;
			position: absolute;
			top: 0;
			right: 0;
		}

	}
	/*SLIDER MAIN*/
.slide_hecu{
	width: 40%;
			height: 500px;
			background: url('../images/logo_hecu.png')no-repeat;
			background-size: 70%;
		    position: absolute;
		    right: 0;
		    top: 12em;
		    @media screen and (max-width:768px){
		        background-size: 60%;
			    position: absolute;
			    right: 6em;
			    top: 23em;
		    }

}

.texture-dotes{
	padding-top: 5em;
							clear: both;
							/*height: 2970px;*/
							background: #fff;  
							background: -moz-radial-gradient(center, ellipse cover,  #fff 0%, #fff 90%, #f2f2f2 100%);  
							background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#fff), color-stop(70%,#fff), color-stop(100%,#f2f2f2));  
							background: -webkit-radial-gradient(center, ellipse cover,  #fff 0%,#fff 70%,#f2f2f2 100%);  
							background: -o-radial-gradient(center, ellipse cover,  #fff 0%,#fff 70%,#f2f2f2 100%);  
							background: -ms-radial-gradient(center, ellipse cover,  #fff 0%,#fff 70%,#f2f2f2 100%);  
							background: radial-gradient(ellipse at center,  #fff 0%,#fff 70%,#f2f2f2 100%); 
							background-size: 10px 10px;  
}
.carel-mapa{
			width: 40%;
			height: 500px;
			background: url('../images/mapa_carel.png')no-repeat;
			background-size: 100%;
		    position: absolute;
		    right: 12em;
		    top: 15px;
		    @media screen and (max-width:768px){
		        background-size: 60%;
			    position: absolute;
			    right: -17em;
			    top: 23em;
		    }



		}

	.slide-ref{
		//background:url('../images/slider-2.jpg')no-repeat;
		background-size: cover;
		width: 100%;
		text-align: center;
		background: #190549;
		.overlay{
			background: rgba(5, 8, 106, 0.7);
			width: 100%;
			height: 100%;
			bottom: 0;
			top: 0;
			position: absolute;
		}
		.maquina{
			width: 600px;
			height: 600px;
			background: url('../images/microklima/microklima-back.png')no-repeat;
			background-size: 70%;
			position: absolute;
			right:-7em;
			z-index: 1;
		}
		video{
			width:  100%;

		}
	}
	.slide-humiklima{ 
		.hk-01{
			width: 500px;
			height: 500px;
			background: url('../images/back-hk-01.png')no-repeat;
			background-size: 70%;
			position: absolute;
			right: 5em;
		}
		.hk-02{
			width: 500px;
			height: 500px;
			background: url('../images/humiklima/humiklima-hk-01.png')no-repeat;
			background-size: 70%;
			position: absolute;
			right: 6em;
			top:4em;
		}
		.hk-03{
			width: 500px;
			height: 500px;
			background: url('../images/Softermia_finblock.png')no-repeat;
			background-size: 70%;
			position: absolute;
			right: 6em;
			top:10em;
			@media screen and (max-width:768px){
			    background-size: 40%;
			    position: absolute;
			    right: -16em;
			    top: 19em;
			}
		}
		.hk-04{
			width: 500px;
			height: 500px;
			background: url('../images/Softermia_Hecu_1.png')no-repeat;
			background-size: 90%;
		    position: absolute;
		    right: 6em;
		    top: 11em;
		    @media screen and (max-width:768px){
		        background-size: 60%;
			    position: absolute;
			    right: -17em;
			    top: 23em;
		    }



		}
		
		video{
			width: 100%;
			margin-top: -5em;
		}
		.overlay{
			background: rgba(5, 8, 106, 0.7);
			width: 100%;
			height: 100%;
			bottom: 0;
			top: 0;
			position: absolute;
		}
	}
	.overlay-slider-carel{
		background: rgb(256, 250, 250);
	}
	.overlay-slider-empty{
			background: rgb(41, 47, 124);
			width: 100%;
			height: 100%;
			bottom: 0;
			top: 0;
			position: absolute;
	}
	.overlay-slider-empty-op{
			background: rgba(41, 47, 124, .7);
			width: 100%;
			height: 100%;
			bottom: 0;
			top: 0;
			position: absolute;
	}
	@media screen and (max-width: 768px){
		height:500px;

		.item{
			height: 100%;
			.inner-slider{
				position: absolute;
				background: rgba(100,160,200,.4);
				height: 100%;
				width: 100%;
				padding: 5em 3em;
				text-align: center;
				margin: 0 auto;
				z-index: 99;
				h2{
					font-size: 1.5em;
				}
				p{
					font-size: 1.3em;
				}
			}

		}
		.slide-ref{
			.maquina{
				width: 300px;
				height: 300px;
				right: -13%;
				bottom: 0;
			}

		}
		.slide-humiklima{
			background:#05076B;

			.hk-01{
				width: 250px;
				height: 250px;
				top: 3em;
				left: 13em;
			}
			.hk-02{
				right: -3em;
    			top: 18em;
				width: 250px;
				height: 250px;
			}
		}

	}
}

@media screen and (min-width: 1024px){
	/*fix layout*/
	.col-fix-5{
		width: 19%;
	}
}
.iso{
	background: #ECECEC;
	padding: 8em 0;
	 clear: both;

    /*display: inline-block;*/
    p{
    	font-size: 22px;
    }
	.icon{
		img{
			max-width: 40px;
		}
	}
	h2{
		position: relative;
	    padding: 11px 0;
	    font-size: 22px;
	    font-weight: 700;
	    margin-bottom: 2em;
		&:after{
			content: '\00a0';
		    width: 20%;
		    height: 2px;
		    background: #4A90E2;
		    position: absolute;
		    left: 0;
		    bottom: -10px;
		}
	}
	.txt-container{
		padding: 2em;
	}
	.img-container{
		
		img{
			width: 100%;
		}
	}
	@media screen and (max-width: 768px){
		.title-gral{
			padding: 2em;
    		clear: both;
		}
	}
}
.iso-img{
	background: #fff!important;
	img{
		width: 100%;
	}
}
.content-table{
	.content-row{
		display: inline-flex;
		.column{
			
			background: #1F62C5;
			img{
				width: 100%;
			}
			.descript{
			    color: #fff;
			    font-size: 16px;
			}
		}
		
	}
	@media screen and (max-width: 1023px){
		.descript{
			padding: 2em;
		}
	}
	@media screen and (min-width: 1024px){
		.descript{
			padding: 5em;
		}
		.column{
			display: table-cell;
		}
	}
}
.cta-slide-home{
	width: 130px;
    line-height: 45px;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: .3s;
    border: 1px solid #4FB0E5;
    background: none;
    cursor: pointer;
    color: #4FB0E5;
    margin-top: 3em;
    &:after{
    		content:'\00a0';
    	    position: absolute;
		    transition: .3s;
		    content: '';
		    width: 0;
		    left: 50%;
		    bottom: 0;
		    height: 3px;
		    background: #4FB0E5;
    }
    &:hover{
    	&:after{
    		width: 100%;
    		left: 0;
    	}
    }
}
.cta-slide-home-w{
	width: 130px;
    line-height: 45px;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: .3s;
    border: 1px solid #ffffff;
    background: none;
    cursor: pointer;
    color: #ffffff;
    margin-top: 3em;
    &:after{
    		content:'\00a0';
    	    position: absolute;
		    transition: .3s;
		    content: '';
		    width: 0;
		    left: 50%;
		    bottom: 0;
		    height: 3px;
		    background: #ffffff;
    }
    &:hover{
    	&:after{
    		width: 100%;
    		left: 0;
    	}
    }
}
#carel{
	.logo{
		text-align: center;
		padding: 2em 0;
		img{
			max-width: 200px;
		}
	}
	.extra-info{
		text-align: center;
		h2{
			font-size: 25px;
			ul{
				li{
					list-style-type: disc;
				    color: #000;
				    font-size: 18px;
				    position: relative;
				    line-height: 40px;
				}
			}
		}
	}

	.carel-list{
		ul{
			li{
				font-size: 18px;
			}
		}
		
	}
	@media screen and (max-width: 768px){
		.carel-list{
			margin: 0;
		}
	}
}

/*DESKTOP*/
@media screen and (min-width: 768px){
	.slide-tablero{
		img{
			width: 100%;
		}
	}
}
/*MOBILE*/
@media screen and (max-width: 767px){
	.hide-txt-mob{
		ul{
			display: none;
		}
	}
	.slide-tablero{
	img{
		height: 100%!important;
		max-width: inherit!important;
	}
}
}

