.mk-graph{
	h2{
		margin: 0 auto;
		color: #fff;
		font-size: 18px;
		text-align: center;
	}
}
.graphic-lines{
	opacity: 0;
	transition: all 1s ease-in-out;
}
.graph-container{
	position: relative;
	.graphic-image{
		position: absolute;
		top: 0;
		right: 2em;
    	width: 60%;
    	transition: all 1s ease-in-out;
	}
	ul{
		display: inline-block;
		li{
			line-height: 3em;
			.graphic-app{
			position: absolute;
			right: 0;
			top:0;
			opacity: 0;
			width: 100%;
			text-align: center;
			z-index: 0;
				img{
					width: 60%;
					
				}
				@include animation;
			}
			a{
			    color: #fff;
			    line-height: 20px;
			    padding: 5px 10px;
			    z-index: 1;
    			position: sticky;
    			text-decoration: underline;
			}
		}
	}
}

.icon-app{
	width: 30px;
	height: 30px;
	float: left;
	img{
		width: 100%;
	}
}
@media screen and (max-width: 767px){
	.mk-graph{
		display: none;
	}
}
@media screen and (min-width: 1024px){
	.graph-container{
		ul{
			li{
				.graphic-app img{
					margin-left: 30em;
				}
			}
		}
	}
}
