.mk-graph{
	h2{
		margin: 0 auto;
		color: #fff;
		font-size: 18px;
		text-align: center;
	}
}
.graphic-lines{
	opacity: 0;
	transition: all 1s ease-in-out;
}
.graph-container{
	position: relative;
	.graphic-image{
		position: absolute;
		top: 0;
		right: 22em;
    	width: 60%;
    	transition: all 1s ease-in-out;
	}
	ul{
		display: inline-block;
		li{
			line-height: 3em;
			.graphic-app{
			position: absolute;
			right: 0;
			top:0;
			opacity: 0;
			width: 100%;
			text-align: center;
			z-index: 0;
				img{
					width: 60%;
				}
				@include animation;
			}
			a{
			    color: #fff;
			    line-height: 20px;
			    padding: 5px 10px;
			    z-index: 1;
    			position: sticky;
			}
		}
	}
}

.icon-app{
	width: 40px;
	height: 40px;
	float: left;
	img{
		width: 100%;
	}
}
